    .content-section.signin > form {
      width:60%!important;
      margin: auto!important;
    }

    .content-section.signin > form  .form-group{
      padding-bottom:1.5em!important;
    }

    .content-section.signup > form {
      width:60%!important;
      margin: auto!important;
    }

    .content-section.signup > form  .form-group{
      padding-bottom:1.5em!important;
    }


     .content-section.linkEntry > form {
      width:60%!important;
      margin: auto!important;
    }

     .content-section.linkEntry > form {
      padding-bottom:2.5em!important;
    }

     .alert.customAlertMessage {
      text-align: center!important;
      color: #4CB2CD!important;
      font-weight: bold!important;
      width: 60%!important;
      margin: auto!important;
    }

    .alert.alert-success {
    --bs-alert-color: none; 
    --bs-alert-bg: none; 
    --bs-alert-border-color: none;
}

    .pageHeader {
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
      width: 60%!important;
      margin: auto!important;
      padding-top:3em!important;
    }

    .logoutNavItem {
      padding:0px 12px;
      width: 120px
    }

    .logoutNavItem > a {
      width: auto;
      color: #ffffff8c;
      padding:8px;
      text-decoration: none;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    }

    .main {
      width:60%!important;
      margin: auto!important;
      padding-bottom:1.2em!important;

    }

    .form-group.sbmtbutton {
      display: flex !important;
      align-items: center!important;
      justify-content: center !important;
      align-items: center !important;
      height: 55px !important;
    }

    .page-header {
      text-align: center!important;
      font-weight: bold;
      font-size: 1.5em;
    }

    .convertmsg {
      text-align: center;
    }

    .navbar {
      font-size: 1em !important;
    }
    
    .siteName {
        color: White;
        float: left;
       direction: rtl;
       text-align: left;
       display: inline;
       font-size: 1em;
    }

    .paddingBetweenCols td {
    /* padding: 0 15px; */
    padding:15px 15px 15px 15px;
    }

    body {
      /* background-color:#343434!important; */
      /* background-image: url("static/assets/img/backimg1.jpeg") !important; */
      color: white!important;
      margin: auto 10px;
      width: auto;
      background-size: cover;
    }

  .body {
    background-image: url("static/assets/img/backimg1.jpeg");
  }

    .logo{
  float: left;
}

    .this {
      list-style-type: none;
    }

    .mod {
      display: inline-block;
      display: inline-table;
    }
    
nav{
  width: 100%;
  height: 50px;
  background-color: #0000;
  line-height: 50px;
  
}
nav .change{
  float: right;
  margin-right: 30px;
}
nav .change li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
  family-font:  -apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",
    sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
nav .change li:hover{
  background-color:rgb(138, 128, 128);
}
nav .change li a{
  text-decoration: none;
  color: white;
  padding: 30px;
}

