{% extends "layout.html" %} {% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>About Us Section</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <!-- <link rel="stylesheet" type="text/css" href="/templates/style.css"> -->
</head>

<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <br></br>
                    <h1>About Mix-Match-Play</h1>
                </div>
                <div class="content">
                    <h3></h3>
                    <p><br></br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    I'll add more later</p>
                </div>
            </div>
        </div>
    </div>
</body>

<body>
    <section class="news-box top-margin">
        <div class="container">
            <div class="row">
                <div class="newsBox">
                    <div class="thumbnail">
                        <img src="user_image" alt="">
                        <div class="caption maxheight2">
                            <div class="box_inner">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <div class="image">
                                <img src=".jpg" alt="">
                            </div>
                            <div class="caption maxheight2">
                                <div class="box_inner">
                                    <div class="box1">
                                        <p class="title"><strong>Ben Josue</strong></p>
                                        <p>Front-End Developer <br>email: benjosue@icloud.com <br>Computer Science <br>University of Georgia </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <img src="headset.jpeg" alt="">
                            <div class="caption maxheight2">
                                <div class="box_inner">
                                    <div class="box2">
                                        <p class="title"><strong>Christian Reyes</strong></p>
                                        <p>Back-End Developer <br>email: chris.reye1@gmail.com <br>Computer Science <br>Vanderbilt University </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <img src=".jpeg" alt="">
                            <div class="caption maxheight2">
                                <div class="box_inner">
                                    <div class="box3">
                                        <p class="title"><strong>Jean Claude (JC) Ntambara</strong></p>
                                        <p>Front-End Developer <br>email: jc.ntambara@gmail.com <br>Computer Science <br>Hendrix College </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <div class="image">
                                <img src=".jpg" alt="">
                            </div>
                            <div class="caption maxheight2">
                                <div class="box_inner">
                                    <div class="box1">
                                        <p class="title"><strong>Levi Makwei</strong></p>
                                        <p>Back-End Developer <br>email: Levi.d.makwei@gmail.com <br>CS & Economics <br>Vanderbilt University </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        body {
            family-font: -apple-system, BlinkMacSystemFont,
                "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            color: white;
            font-size: ;
            background-color:#383838;
        }

        .box3 {
            width: 150%;
        }
    </style>
{% endblock content %}