{% extends "layout.html" %}
{% block content %}
<body>
<div class="body">
     <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main content-section">
          <p class="page-header"><br><br>Welcome to MixMatchPlay, {{ name }}!</p>
          <p style="text-align: center"><b>You are now ready to start your playlist conversion! How Exciting!</b></p>
          <p class="convertmsg" style="text-align: center">Type or paste your Spotify playlist link below to get started:</p>
     </div>
    <!-- <h1>Conversion page</h1> -->
    <div class="content-section linkEntry">
        <form class="form-login" method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <!-- Link Field -->
                <div class="form-group">
                    {{ form.link.label(class="form-control-label") }}
                    {% if form.link.errors %}
                        {{ form.link(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form.link.errors%}
                            <span>{{error}}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form.link(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Submit Button -->
                <div class="form-group sbmtbutton">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
        </form>

    </div>
    <div>
    <p class="main"> <b>Recent Converted Playlists</b> </p>
    <table id=”tab” class="main paddingBetweenCols" style="width:40%">
        <tr>
            <th style="width:33%"></th>
            <th style="width:33%"> <img src="static/assets/img/spotify4.png" style = "width:60%;"></th>
            <th style="width:33%"> <img src="static/assets/img/applelogo.png" style = "width:60%;"></th>
        </tr>
        <tr>
            <td style="width:33%"> {{ playlist_name }}</td>
            <td style="width:33%">{{ spotify_link }}</td>
            <td style="width:33%">{{ Apple_music_link }}</td>
        </tr>
    </table>
</div>
</div>
</body>

<style>
    body {
        
        background-color:black;
    }
</style>
{% endblock content %}